.video{
   background-image: url(../img/cover-video.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   background-color: $primary-color;
   margin: 8em 0;
   position: relative;
   text-align: center;

   @media(max-width: 480px){
      margin-bottom: 2em;
   }
}

.video--presentacion{
   color: #fff;
   margin: 0 auto;
   position: absolute;
   left: 0;
   right: 0;
   top: 35%;
   text-align: center;
   transition: all .5s;
   z-index: 10;

   @media(max-width: 480px){
      top: 20%;
   }

   &--titulo{
      @include font-size(60);
      font-weight: 300;
      margin: 0;

      @media(max-width: 1024px){
         @include font-size(48);
         @include line-height(50);
      }

      @media(max-width: 480px){
         @include font-size(24);
         @include line-height(30);
      }
   }
   &--bajada{
      @include font-size(24);
      font-weight: 300;
      opacity: .5;

      @media(max-width: 480px){
         @include font-size(12);

      }
   }

   &--icon{
      background-color: #fff;
      border-radius: 50%;
      color: $primary-color;
      cursor: pointer;
      display: inline-block;
      @include font-size(16);
      height: 50px;
      line-height: 50px;
      margin-top: 1.5em;
      text-align: center;
      width: 50px;

      &:before{
         margin-left: 5px;
      }

      @media(max-width: 480px){
         margin-top: .5em;
      }
   }

}



video{
   display: inherit;
   margin: 0 auto;
   max-width: 800px;
   opacity: 0;
   transition: all 1.5s;
   width: 100%;
   z-index: 0;
}
