doctype html
head
	meta(charset="utf-8")
	meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
	title WiseGrowth - cambio
	include templates/head
body
	include templates/header
	include templates/banner
	include templates/banner-wisesense
	include templates/banner-wisebot
	include templates/banner-app
	include templates/banner-features
	include templates/equipo
	include templates/banner-partners
	include templates/video
	include templates/banner-contacto
	include templates/footer 
