section.banner.banner__partners
	.wrap
		.row
			.col.s12.m4
				.banner--info.wow.slideInLeft
					h2.banner--info--titulo Nuestros 
						span.titulo--destacado Partners
					p.banner--info--parrafo La forma más sabia para mantener tus cultivos. Interfaz amigable, fácil de configurar, multiplataforma, una aplicación pensada en los usuarios.  
			.col.s12.m6.offset-m2
				.banner--sliderPartners
					.owl-carousel.owl-partners
						//.item
							.banner--sliderPartners--item
								img.item--logotipo(src="img/carousel-01.png", alt="")
								p.item--detalle Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 
						//.item
							.banner--sliderPartners--item
								img.item--logotipo(src="img/carousel-02.png", alt="")
								p.item--detalle Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 
						.item
							.banner--sliderPartners--item
								img.item--logotipo(src="img/carousel-03.png", alt="")
								p.item--detalle Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 
						//.item
							.banner--sliderPartners--item
								img.item--logotipo(src="img/carousel-04.png", alt="")
								p.item--detalle Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 
						.item
							.banner--sliderPartners--item
								img.item--logotipo(src="img/carousel-05.png", alt="")
								p.item--detalle Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 
						.item
							.banner--sliderPartners--item
								img.item--logotipo(src="img/carousel-06.png", alt="")
								p.item--detalle Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 
