section.banner.banner__main
	.wrap
		.row
			.col.s12
				figure.banner--foto.u-mobile
					img(src="img/wisebot-new.png", alt="foto del wisebot")
			.col.s12.m4
				.banner--info.wow.slideInLeft
					h1.banner--info--titulo Bienvenido 
						br
						| a 
						span.titulo--destacado WiseGrowth
					p.banner--info--parrafo Aprovecha la modalidad preventa y obtén más de un 30% de descuento en el precio del producto. Además de una suscripción anual gratuita !
					a.banner--info--boton.boton.waves-effect(href="https://docs.google.com/forms/d/e/1FAIpQLScNUBUTUlQlRciJ-TqntXe9-wliqkEbKvWJF_bNtoEcSdEA9Q/viewform?usp=sf_link" target="_blank") Comprar
			.col.s12.m7.offset-m1
				figure.banner--foto.u-destop
					img(src="img/wisebot-new.png", alt="foto del wisebot")
			.col.s12
				a.banner--ancla(href="#banner__features")
					span.banner--ancla--mouse.icon-mouse
					span.banner--ancla--flecha.icon-arrow-down
					p.banner--ancla--text Scroll down
	.banner--forma
