section.banner.banner__app
	.wrap
		.row
			.col.s12
				figure.banner--foto.u-mobile
					img(src="img/wisegrowth-app.png", alt="foto del wisebot")
			.col.s12.m4
				.banner--info.wow.slideInLeft
					h2.banner--info--titulo Wisegrowth 
						span.titulo--destacado APP
					p.banner--info--parrafo La forma más sabia para cuidar tus cultivos de cannabis. Interfaz amigable, fácil de configurar, multiplataforma, una aplicación pensada en los usuarios. 
					a.banner--info--descarga(href="https://docs.google.com/forms/d/e/1FAIpQLScxjF4TtkoBK9KmDhvVEppKLt189owJLvEsXgM9GqxyTzNMKA/viewform?usp=sf_link") 
						img(src="img/appStore.png", alt="Link para descargar aplicacion ios")
					a.banner--info--descarga(href="https://docs.google.com/forms/d/e/1FAIpQLScxjF4TtkoBK9KmDhvVEppKLt189owJLvEsXgM9GqxyTzNMKA/viewform?usp=sf_link") 
						img(src="img/googleplay.png", alt="Link para descargar aplicacion android")
			.col.s12.m6.offset-m2
				figure.banner--foto.u-destop
					img(src="img/wisegrowth-app.png", alt="foto del wisebot")
