section.banner.banner__features#banner__features
	.wrap
		.row
			.col.s12.m6
				figure.banner--foto.wow.slideInLeft.parallax-container
					.parallax
						img(src="img/wisegrowth-app-mov.png", alt="foto del wisebot")
			.col.s12.m5.offset-m1
				.banner--info.wow.slideInRight
					h2.banner--info--titulo Qué hacer
						br
						| en mi 
						span.titulo--destacado APP ?
					p.banner--info--parrafo Podrás monitorear y controlar tus cultivos desde cualquier parte del mundo. Recibir los mejores consejos para que aprendas más sobre el cultivo del Cannabis. Usar el planificador para administrar fertilizantes, personalizar tus plantas, calendario, registrar riegos, cosechas, cuidados, entre otros. 
						br
						span.parrafo--destacado WiseGrowth 
						| APP te dara la oportunidad de disfrutar de un cultivo exitoso con el menor riesgo posible. 
					.banner--info--testimonio
						.row
							.col.s2
								figure.testimonio--avatar
									img(src="img/perfil.png", alt="foto de la persona que da su testimonio")
							.col.s10
								p.testimonio--texto He sido uno de los afortunados de probar los beneficios de wiseBot, tengo un control completo de mis cultivos, puedo saber el estado de cada una de mis plantas y registrar todos los eventos.
								p.testimonio--autor Carlos Fuentes Díaz 
									span.testimonio--autor--nota - Consumidor extremo
					a.banner--info--descarga(href="https://docs.google.com/forms/d/e/1FAIpQLScxjF4TtkoBK9KmDhvVEppKLt189owJLvEsXgM9GqxyTzNMKA/viewform?usp=sf_link") 
						img(src="img/appStore.png", alt="Link para descargar aplicacion ios")
					a.banner--info--descarga(href="https://docs.google.com/forms/d/e/1FAIpQLScxjF4TtkoBK9KmDhvVEppKLt189owJLvEsXgM9GqxyTzNMKA/viewform?usp=sf_link") 
						img(src="img/googleplay.png", alt="Link para descargar aplicacion android")
