section.banner.banner__wisebot
	.wrap
		.row
			.col.s12
				figure.banner--foto.u-mobile
					img(src="img/wisebot-new-02.png", alt="foto del wisebot")
			.col.s12.m4
				.banner--info.wow.slideInLeft
					h2.banner--info--titulo Conoce
						br 
						| a 
						span.titulo--destacado WiseBot
					p.banner--info--parrafo Con 
						span.parrafo--destacado WiseBot
						| puedes controlar cualquier artefacto que esté conectado a tu armario, tales como: iluminación, ventilación, extracción, bombas de riego, calefacción, ozonificador, entre otros.
					a.banner--info--boton.boton.waves-effect(href="https://docs.google.com/forms/d/e/1FAIpQLScNUBUTUlQlRciJ-TqntXe9-wliqkEbKvWJF_bNtoEcSdEA9Q/viewform?usp=sf_link" target="_blank") comprar
			.col.s12.m8
				figure.banner--foto.u-destop
					img(src="img/wisebot-new-02.png", alt="foto del wisebot")
