section.banner.banner__wisesense
	.wrap
		.row
			.col.s12.m7
				figure.banner--foto.wow.slideInLeft.parallax-container
					.parallax
						img(src="img/wisesense-new.png", alt="foto del wisebot")
			.col.s12.m4.offset-m1
				.banner--info.wow.slideInRight
					h2.banner--info--titulo Conoce 
						br 
						| a 
						span.titulo--destacado WiseSens
					p.banner--info--parrafo Con 
						span.parrafo--destacado WiseSens
						| puedes monitorear la humedad de tus plantas. Además, revisa desde la APP la humedad y temperatura ambiente para tener las mejores condiciones en tu cultivo.
					a.banner--info--boton.boton.waves-effect(href="https://docs.google.com/forms/d/e/1FAIpQLScNUBUTUlQlRciJ-TqntXe9-wliqkEbKvWJF_bNtoEcSdEA9Q/viewform?usp=sf_link" target="_blank") comprar
