section.equipo
	.banner--forma.banner--forma__top
	.wrap
		.row
			.col.s12
				h2.equipo--titulo Equipo de 
					span.equipo--titulo--destacado sabios
					span.equipo--titulo--bajada Un gran desafío requiere de un gran equipo
			.col.s6.m3
				.equipo--perfil
					figure.equipo--perfil--avatar
						img(src="img/perfil-camilo.png", alt="foto de nombre apellido apellido")
					p.equipo--perfil--nombre Camilo Acuña
						span Fundador y Desarrollador Fullstack
					.equipo--perfil--social
						a.social--link(href="javascript:;") 
							span.icon-email
						a.social--link(href="javascript:;") 
							span.icon-twitter
			.col.s6.m3
				.equipo--perfil
					figure.equipo--perfil--avatar
						img(src="img/perfil-javier.png", alt="foto de nombre apellido apellido")
					p.equipo--perfil--nombre Javier Palacios
						span Desarrollador Móvil
					.equipo--perfil--social
						a.social--link(href="javascript:;") 
							span.icon-email
						a.social--link(href="javascript:;") 
							span.icon-twitter
			.u-clear
			.col.s6.m3
				.equipo--perfil
					figure.equipo--perfil--avatar
						img(src="img/perfil-emiliano.png", alt="foto de nombre apellido apellido")
					p.equipo--perfil--nombre Emiliano Galleguillos
						span Diseñador Industrial
					.equipo--perfil--social
						a.social--link(href="javascript:;") 
							span.icon-email
						a.social--link(href="javascript:;") 
							span.icon-twitter
			.col.s6.m3
				.equipo--perfil
					figure.equipo--perfil--avatar
						img(src="img/perfil-angelo.png", alt="foto de nombre apellido apellido")
					p.equipo--perfil--nombre Angelo Farías
						span Ventas y Clientes
					.equipo--perfil--social
						a.social--link(href="javascript:;") 
							span.icon-email
						a.social--link(href="javascript:;") 
							span.icon-twitter
			.u-clear
	.banner--forma
