footer.footer
	span.footer--logotipo.icon-logotipo

	.footer--copy
		.wrap
			p.footer--copy--legal  ©2017 WiseGrowth. Todos los derechos reservados.© 2017
			.footer--copy--sociales
				a.sociales--item(href="javascript:;")
					span.icon-facebook 
				a.sociales--item(href="javascript:;")
					span.icon-twitter
				a.sociales--item(href="javascript:;")
					span.icon-Shape




script(src="lib/jquery/dist/jquery.min.js")
script(src="lib/materialize/dist/js/materialize.min.js")
script(src="lib/owl.carousel/dist/owl.carousel.min.js")
script(src="lib/fancybox/dist/jquery.fancybox.min.js")
script(src="lib/wow.min.js")
script(src="js/main.js")
