header.header
	span.header--logotipo.icon-isotipo

	// iconos header mobile
	.header--iconMobile
		p.header--iconMobile--text Menú
		.header--iconMobile--burger
			.burger--stripe.burger--stripe__top
			.burger--stripe.burger--stripe__middle
			.burger--stripe.burger--stripe__bottom
	// FIN - iconos header mobile

	// Menú lateral
	ul.menuLateral
		li.menuLateral--item.menuLateral--item__active#inicio
			a.menuLateral--item--link(href="#banner__features") inicio
		li.menuLateral--item#dispositivo
			a.menuLateral--item--link(href="#banner__features") dispositivo
		li.menuLateral--item#app
			a.menuLateral--item--link(href="#banner__features") app
		li.menuLateral--item#equipo
			a.menuLateral--item--link(href="#banner__features") equipo
		li.menuLateral--item#patrocinadores
			a.menuLateral--item--link(href="#banner__features") patrocinadores
		li.menuLateral--item#contacto
			a.menuLateral--item--link(href="#banner__features") contacto

	// FIN - menú lateral
