link(rel="stylesheet", href="lib/materialize/dist/css/materialize.min.css")
link(rel="stylesheet", href="lib/owl.carousel/dist/assets/owl.carousel.min.css")
link(rel="stylesheet", href="lib/animate.css/animate.css")
link(rel="stylesheet", href="lib/fancybox/dist/jquery.fancybox.min.css")
//- link(rel="shortcut icon", href="img/favicon.ico", type="image/x-icon")
//- link(rel="icon", href="img/favicon.ico", type="image/x-icon")
link(href='css/main.css', rel='stylesheet')
