section.video
	video#video(src="video/video-test.mp4" controls) 
	.video--presentacion
		h2.video--presentacion--titulo "WiseBot en acción"
		p.video--presentacion--bajada Pronto te mostraremos como funciona Wisebot con nuestra app
		span.video--presentacion--icon.icon-play
